mat-form-field {
  width: 100%;
}
.mdc-dialog__container {
  border-radius: 1100px;
}

.button-close {
  margin-right: 8px;
}
.button-save {
  margin-right: 18px;
}
.modal-button {
  margin-bottom: 18px;
}
