<h1 mat-dialog-title>Add Product Form</h1>
<form [formGroup]="clientForm">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput placeholder="cpf" formControlName="cpf" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birtDate" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Renda Mensal</mat-label>
      <input matInput placeholder="name" formControlName="monthlyIncome" />
    </mat-form-field>
  </div>
</form>
<div mat-dialog-action [align]="'end'">
  <button-primary (click)="closeDialog()">Close</button-primary>
  <button-primary style="margin-left: 8px" (click)="save()"
    >Save</button-primary
  >
</div>
