<mat-toolbar class="navbar" color="primary"> </mat-toolbar>

<div>
  <h1 mat-dialog-title>{{ btnAction }} Cliente</h1>
</div>
<div mat-dialog-content>
  <form [formGroup]="clientForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="name" />
      <mat-error class="error-msg" *ngIf="clientForm.controls['name'].errors">
        Digite nome
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>CPF</mat-label>
      <input
        matInput
        placeholder="Cpf"
        formControlName="cpf"
        mask="000.000.000-00"
      />
      <mat-error class="error-msg" *ngIf="clientForm.controls['cpf'].errors">
        Digite CPF
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birtDate" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <mat-error
        class="error-msg"
        *ngIf="clientForm.controls['birtDate'].errors"
      >
        Digite data de nascimento
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Renda Mensal</mat-label>
      <input
        matInput
        placeholder="Renda Mensal"
        formControlName="monthlyIncome"
        mask="separator.2"
        thousandSeparator=","
      />
      <mat-error
        class="error-msg"
        *ngIf="clientForm.controls['monthlyIncome'].errors"
      >
        Digite renda mensal
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="email" formControlName="email" />
      <mat-error class="error-msg" *ngIf="clientForm.controls['email'].errors">
        Digite E-mail
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div class="modal-button" mat-dialog-actions [align]="'end'">
  <button-primary class="button-close" (click)="closeDialog()"
    >Fechar</button-primary
  >
  <button-primary
    class="button-save"
    (click)="save()"
    [isDisabled]="!clientForm.valid"
    >{{ btnAction }}</button-primary
  >
</div>
