table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Inter";
}

th.mat-sort-header {
  color: white;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

td {
  line-height: 10px;
  text-transform: uppercase;
}
tr {
  border-radius: 100px;
}
.my-row {
  border-radius: 50px;
}

.line-row {
  background-color: #f7f7f7;
}

td:first-child,
th:first-child {
  border-radius: 40px 0 0 40px;
}

td:last-child,
th:last-child {
  border-radius: 0 40px 40px 0;
}

.menu {
  margin-top: 100px;
  margin-bottom: 37px;
  display: flex;

  mat-form-field {
    width: 314px;
  }
  &__icon {
    margin-top: 15px;
    margin-left: 9px;
  }

  &__button {
    margin-left: 48px;
  }
}
