<navbar></navbar>

<div class="container">
  <div class="menu">
    <mat-form-field appearance="outline">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="searchClient($event)" #input />
    </mat-form-field>
    <search-sgv class="menu__icon"></search-sgv>

    <div>
      <button-primary class="menu__button" (click)="openDialog()" [size]="'lg'"
        >ADICIONAR</button-primary
      >
    </div>
  </div>
  <div class="mat-elevation-z0" style="margin-top: 10px">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
          [style.border-radius]="radiusInit"
        >
          Nome
        </th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
        >
          CPF
        </th>
        <td mat-cell *matCellDef="let row">{{ row.cpf | CPF }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
        >
          E-MAIL
        </th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>
      <ng-container matColumnDef="monthlyIncome">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
        >
          RENDA MENSAL
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.monthlyIncome | currency : "R$" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="birtDate">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
        >
          DATA DE NASCIMENTO
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.birtDate | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateRegister">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
        >
          DATA DE REGISTRO
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.dateRegister | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action" [style.background-color]="color">
        <th
          [style.border-radius]="radiusFinal"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [style.background-color]="color"
        >
          AÇÕES
        </th>

        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editProdut(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            (click)="deleteClient(row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
        [class.line-row]="i % 2"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr> -->
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
